* {box-sizing:border-box}


.principal{
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin: 0px auto;
    
}

.principal > .encabezado > .logo > img{
    width: 100%;
    height: 15%;     
    position: fixed;   
    z-index: 1;
    top: 0;
}

.navb{
    background-color: #10561f;
    color: #fff;
    text-align: right;
    margin: 0px auto;
    margin-top: 83px;
    width: 100%;
    position: fixed; 
    z-index: 1;
}

.navb > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navb > ul > .uno{
    text-align: left;
    list-style: none;
    color: #fff;
}

.navb > ul > .uno > li > a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 5px;
}

.navb > ul > .dos{
    padding-right: 10px;
    padding-bottom: 2px;
}

.navb > ul > .dos > li{
    text-align: right;
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 0px auto;
}

.navb > ul > .dos > li > a{
    text-align: right;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    padding-right: 12px;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    padding-top: 15%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    margin-top: 80px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    padding-top: 60%;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    padding-top: 50%;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0px;
}
    
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.objetivos > div{
    display: flex;
}

.recursosDiv{
    display: flex;
}

.tres, .cuatro{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 2%;
    margin: 0px auto;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #000;
}

.img1, .img2{
    padding-right: 1%;
}

.PlanEstudio > h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #10561f;
    padding: 2%;
}

.PlanEstudio > iframe {
    margin-left: 10%;
}

.MapaCurricular > h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #10561f;
    padding: 2%;
}

.MapaCurricular > iframe{
    margin-left: 10%;
}


@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}