* {box-sizing:border-box}

.logo > img{
    width: 100%;
    height: 100%;
}


.principal{
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin: 0px auto;
}

.navb{
    background-color: #10561f;
    color: #fff;
    text-align: right;
    margin: 0px auto;
    padding: 5px
}

.navb > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navb > ul > .uno{
    text-align: left;
    list-style: none;
    color: #fff;
}

.navb > ul > .uno > li > a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding: 10px;
}

.navb > ul > .dos{
    padding-right: 10px;
    padding-bottom: 10px;
}

.navb > ul > .dos > li{
    text-align: right;
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 0px auto;
}

.navb > ul > .dos > li > a{
    text-align: right;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    padding-top: 24%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    padding-top: 60%;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    padding-top: 50%;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0px;
}


.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}